* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}
h1 {
    font-size: 100px;
    font-style: italic;
}
img {
    width: 100%;
}
p {
    font-size: 50px;
}